CONFIG_TARGET_meson=y
CONFIG_TARGET_meson_meson8b=y
CONFIG_TARGET_meson_meson8b_DEVICE_thunder-onecloud=y
CONFIG_CGROUPFS_MOUNT_KERNEL_CGROUPS=y
CONFIG_KERNEL_CGROUP_DEVICE=y
CONFIG_KERNEL_CGROUP_FREEZER=y
CONFIG_KERNEL_CGROUP_NET_PRIO=y
CONFIG_KERNEL_EXT4_FS_POSIX_ACL=y
CONFIG_KERNEL_EXT4_FS_SECURITY=y
CONFIG_KERNEL_FS_POSIX_ACL=y
CONFIG_KERNEL_NET_CLS_CGROUP=y
CONFIG_TARGET_ROOTFS_PARTSIZE=400
CONFIG_TARGET_ROOTFS_TARGZ=y
CONFIG_PACKAGE_kmod-nf-conntrack-netlink=y
CONFIG_PACKAGE_luci-app-cpufreq=y
CONFIG_PACKAGE_luci-app-passwall2=y
CONFIG_PACKAGE_luci-theme-bootstrap=y  
CONFIG_PACKAGE_luci-app-ddns=y
CONFIG_PACKAGE_luci-app-openclash=y
CONFIG_PACKAGE_sing-box=y
CONFIG_IPV6=y
CONFIG_PACKAGE_dnsmasq_full_dhcpv6=y
CONFIG_PACKAGE_odhcp6c=y   
CONFIG_PACKAGE_6in4=y
CONFIG_PACKAGE_kmod-ipv6=y
CONFIG_PACKAGE_kmod-ip6tables=y
CONFIG_PACKAGE_kmod-nf-ipt6=y
CONFIG_PACKAGE_kmod-nf-nat6=y  
CONFIG_PACKAGE_kmod-nf-log6=y
CONFIG_PACKAGE_kmod-nf-reject6=y
